
.header .container .search button {
  background-color: transparent;
  outline: none;
  border: 0 solid;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 0 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header .container .search button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header .container .search button i {
  color: #fff;
}
.header .container .user {
  font-weight: 800;
}
.header .container .user .icon a {
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header .container .user .icon a i {
  color: #fff;
}
.header .container .user .icon a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header .container .search,
.header .container .user {
  float: left;
}

.Dropdown::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 10px;
  margin-left: 0;
  transition: 0.2s;
  border: none;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Ctitle%3EAngle Down%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name="layer1" fill="none" stroke="rgba(0, 0, 0, 0.5)" stroke-miterlimit="10" stroke-width="7" d="M20 26l11.994 14L44 26" stroke-linejoin="round" stroke-linecap="round"%3E%3C/path%3E%3C/svg%3E') 100% no-repeat;
}

.nav-item.active .nav-link {
  color: var(--color_1) !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--color_1) !important;
}


.sign {
  font-family: vremenagrotesk, sans-serif;
  font-weight: 600;
  padding: 0.5rem 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign:hover {
  color: var(--color_1);
}

.input-parent:focus-within {
  border-bottom: 2px solid black !important;
}

.rounded-img {
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid var(--color_2);
}

.profile {
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--color_2);
}

.popLi {
  padding: 6px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.popLi:hover {
  background-color: rgb(178, 177, 175);
}

.indicator {
  background: #3f80ea;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  color: #fff;
  display: block;
  font-size: 0.675rem;
  height: 18px;
  padding: 1px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: 0;
  transition: top 0.1s ease-out;
  width: 18px;
}

.nav-link {
  padding-right:1.3rem!important;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-family: vremenagrotesk, sans-serif;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensures the navbar is above other content */
  box-shadow: 0 1px 9px 0 #a3a0a0; /* Keeps the shadow effect */
}

.navbar {
  transition: all 0.3s ease; /* Smooth transition for all properties */
}
.navbar-toggler:focus
{
  box-shadow: none!important;
}
