<div class="d-flex row flex-row-reverse" style="height: 100%;">
    <div class="sideLeft col-lg-7  d-none d-sm-flex justify-content-center">
      <img src="assets/sign.jpg" alt="Error">
  
  
    </div>
  
    <div class="col-lg-5 col-md-12 col-sm-12 flex-column d-flex align-items-center justify-content-center">
      <div style="width: 100%;display: flex;flex-direction: column;align-items: center;height: 86%;justify-content: center;">
  
        <h4 class="col-lg-6 col-md-6 col-sm-8 ">Login </h4>
  
      <form [formGroup]="login" class="col-lg-6 col-md-6 col-sm-8" (ngSubmit)="loginNewAccount()">
  
  
  
  
        <div class="input-group mb-2">
          <i class="bi bi-envelope"
          [ngClass]="{'iInvalid':login.controls['email'].invalid&&login.controls['email'].touched,'iValid':login.controls['email'].valid}"
  
          ></i>
          <input type="email"  placeholder="Email" class=" is-invalid" name="email" aria-describedby="validationEmail" required formControlName="email"
          [ngClass]="{'inputInvalid':login.controls['email'].invalid&&login.controls['email'].touched,'inputValid':login.controls['email'].valid}"
          >
          <div id="validationEmail" class="invalid-feedback">
            <p *ngIf="login.controls['email'].value===''&& login.controls['email'].touched" class="mb-0">
              * Email is required.
            </p>
            <p *ngIf="login.controls['email'].invalid&&login.controls['email'].value!==''&& login.controls['email'].touched" class="mb-0">
             * Must be a valid email.
            </p>
  
          </div>
        </div>
  
  
  
  
        <div class="input-group mb-2">
          <svg class="svg-inline--fa fa-lock"
          [ngClass]="{'iInvalid':login.controls['password'].invalid&&login.controls['password'].touched,'iValid':login.controls['password'].valid}"
  
           aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path></svg>
  
          <input [type]="showPassword ? 'text' : 'password'"  placeholder="Password" class=" is-invalid" name="password" aria-describedby="validationPassword" required formControlName="password"
          [ngClass]="{'inputInvalid':login.controls['password'].invalid&&login.controls['password'].touched,'inputValid':login.controls['password'].valid}"
          >
  
          <i class="bi bi-eye" style="left: 90%;" *ngIf="!showPassword" (click)="togglePasswordVisibility()"
          [ngClass]="{'iInvalid':login.controls['password'].invalid&&login.controls['password'].touched,'iValid':login.controls['password'].valid}"
  
          ></i>
          <i class="bi bi-eye-slash" style="left: 90%;" *ngIf="showPassword" (click)="togglePasswordVisibility()"
          [ngClass]="{'iInvalid':login.controls['password'].invalid&&login.controls['password'].touched,'iValid':login.controls['password'].valid}"
  
          ></i>
  
          <div id="validationPassword" class="invalid-feedback">
            <p *ngIf="login.controls['password'].value===''&& login.controls['password'].touched" class="mb-0">
              * Password is required.
            </p>
            <p *ngIf="login.controls['password'].invalid&&login.controls['password'].value!==''&& login.controls['password'].touched" class="mb-0">
             * Must have characters and numbers, be at least 8 characters long, and include uppercase (A-Z), lowercase (a-z), numbers (0-9), and special characters.
  
            </p>
  
          </div>
        </div>
  
  
  
  
  
  
  
  
  
  
        <div>
          <p *ngIf="Message!=''" class="mb-2 text-center" style="color: red;">
            *{{Message}}
          </p>
  
        </div>
        <button (click)="loginNewAccount()" class="registerButton" [disabled]="loader.isLoading|async">
          <span *ngIf="!(loader.isLoading|async)">login now</span>
          <div class="loader3" *ngIf="loader.isLoading|async" style="margin: auto;"></div>
  
        </button>
  
  
      </form>
      <p>Already have an account?
        <a routerLink="/sign-up" style="color: var(--color_1);">Sign Up</a>
      </p>
      <div class="divider-wrapper col-lg-6 col-md-6 col-sm-8"><span class="divider">Or</span></div>
      <div class="col-lg-6 col-md-6 col-sm-8 position-relative">
  
  
  
  
        <div
        id="g_id_onload"
        data-client_id="744794362213-7is3jru2trpk8426c1rogic2gg1plofo.apps.googleusercontent.com"
        data-context="use"
        data-ux_mode="popup"
        data-itp_support="true"
        data-login_uri="http://localhost:3000/api/test"
        data-callback="handleCredentialResponse"
        data-auto_prompt="false"
      ></div>
  
      <div
        class="g_id_signin"
  
        data-theme="filled_blue"
  
  
  
      ></div>
  
    </div>
  
  </div>
  
  
  <div style="width:100%;background-color: #e3e3e3;height:14%;padding:20px" class="d-flex justify-content-center">
  
      <div class=" col-lg-6 col-md-8 col-sm-12" >
        <div class=" flex justify-between md:gap-3 gap-1 ">
          <div class="d-flex justify-content-between align-items-center">
            <span style="font-weight: 500;">COOBRA </span>
            <a href="#" style="color: black;font-size: 22px;text-decoration: none;">| <i class="bi bi-facebook" style="position:static"></i></a>
            <a href="#"><i class="bi bi-whatsapp" style="position:static"></i></a>
            <a href="#"><i class="bi bi-instagram" style="position:static"></i></a>
            <a href="#"><i class="bi bi-twitter-x" style="position:static"></i></a>
            </div>
            <div>
              <div class="lg-text">All rights are save | COOBRA 2024 ©</div>
          </div>
          </div>
  
  
  </div>
  