.sideLeft{
    height: 100vh;
    background: var(--color_1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .sideLeft h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--color_5);
  }
  .Alzheimer-color {
    color: var(--color_3);
  }
  .sideLeft img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    z-index: 0;
    filter: blur(2px);
  }
  .Please {
    opacity: 0.7;
    font-size: 16px;
  }
  input{
  outline: 0;
      width: 100%;
      padding: 0.5em 0.5em 0.5em 2em;
      border-radius: 5px!important;
      border-style: double;
      border-width: 0.1px;
      margin-bottom: 1em;
  }
  
  
  i{
    position: absolute;
      left: 5px;
      top: 5px;
      font-size: 21px;
      color: #0198A0;
  }
  .fa-lock,.fa-calendar-days{
    left: 5px;
    top: 8px;
    position: absolute;
    width: 18px;
    color: #0198A0;
  }
  .inputInvalid{
    border-color: red;
  }
  .iInvalid{
    color: red;
  }
  .iValid{
    color: green;
  }
  .inputValid{
    border-color: green;
  }
  .registerButton{
    width: 100%;
    padding:0.5em 0.2em 0.5em 0.2em;
    border-radius: 5px !important;
    border: none;
    margin-bottom: 1em;
    color: white;
    font-weight: 600;
    background-color: var(--color_1);
  }
  
  ::ng-deep .abcRioButton {
    background-color: white !important;
    width: 100% !important;
    box-shadow: none!important;
    height: 40px!important;
  }
  ::ng-deep .abcRioButtonContents{
    font-size: 0!important;
    line-height: 34px!important;
    color: black!important;
    font-weight: 600!important;
  }
  ::ng-deep .abcRioButton:hover {
  box-shadow: none!important;
  }
  ::ng-deep .abcRioButtonIcon {
    padding: 12px!important;
  }
  
  ::ng-deep .abcRioButtonContentWrapper{
    background-color: rgb(217 250 255);
  }
  
  .divider-wrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
  }
  .divider {
    text-align: center;
    flex: .2 0 auto;
    margin: 0;
    height: 12px;
  }
  .divider-wrapper:before, .divider-wrapper:after {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: .5em;
    margin: 0;
  }
  

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  .invalid-feedback{
    margin-top: 0;
  }
  .row{
    --bs-gutter-x:0!important;
  }
     /*
     ////////////////////////
     media
     ///////////////////////
     */
  
     @media (min-width: 425px) and (max-width: 642px){
      /* Extra small devices (phones) */
      .custom-font {
        font-size: 13px; /* Adjust the font size for extra small screens */
      }
      .logo{
        width: 60px!important;
      }
    }
  @media (min-width: 642px) and (max-width: 754px){
    /* Extra small devices (phones) */
    .custom-font {
      font-size: 14px; /* Adjust the font size for extra small screens */
    }
    .logo{
      width: 70px!important;
    }
  }
  @media (min-width: 754px) and (max-width: 874px) {
    /* Small devices (tablets) */
    .custom-font {
      font-size: 18px; /* Adjust the font size for small screens */
    }
    .logo{
      width: 80px!important;
    }
  }
  @media (min-width: 874px) and (max-width: 992px) {
    /* Medium devices (desktops) */
    .custom-font {
      font-size: 20px; /* Adjust the font size for medium screens */
    }
  }
  @media (min-width: 992px) and (max-width: 1024px) {
    /* Large devices (large desktops) */
    .custom-font {
      font-size: 22px; /* Adjust the font size for large screens */
    }
  }
  @media (min-width: 1024px) and (max-width: 1100px) {
    /* Large devices (large desktops) */
    .custom-font {
      font-size: 25px; /* Adjust the font size for large screens */
    }
  }
  @media (min-width: 1100px) and (max-width: 1200px) {
    /* Large devices (large desktops) */
    .custom-font {
      font-size: 27px; /* Adjust the font size for large screens */
    }
  }
  @media (min-width: 1200px) {
    /* Large devices (large desktops) */
    .custom-font {
      font-size: 30px; /* Adjust the font size for large screens */
    }
  }
  @media (min-width: 768px) {
    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
  }
  h4{
    margin-bottom: 20px;
      font-weight: 700;
      font-family: sans-serif;
  }
  
  
  
  ::ng-deep #container{
    width: 100%!important;
  }
  ::ng-deep iframe{
    width: 100%!important;
  }
  ::ng-deep iframe:last-child{
    width: 100%!important;
  }
  ::ng-deep body{
    width: 100%!important;
  }
  ::ng-deep body.qJTHM:first-child{
    width: 100%!important;
  }

  @media (max-width: 768px) {
    .sideLeft  {
      width: 0!important;
    }
}
@media (max-width: 425px) {
  form  {
    width: 70%!important;
  }
}